/*general style*/

html {
  font-size: 20px;
}

/*responsive*/

@media only screen and (max-with: 600px) {
  html {
    font-size: 14px;
  }
}
input:focus {
  outline: none;
  background-color: yellow;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #rgba(255, 0, 0, 0.5);
}
.image-container img {
  width: 100%;
}

.App {
  font-family:'Work Sans', sans-serif;
}

h1 {
  padding: .66rem 0;
  text-align:center;
  background-color:#cca353;
  font-family:Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
  
}
